# NewsAPI.org saytidan (https://newsapi.org/register) ro'yxatdan o'tib API kalit oling
# so'ng shu faylni ".env" nomi bilan nusxalab, kalitni pastga qo'ying
VUE_APP_NEWS_API_KEY=bu_yerga_ozingizni_apikey_ni_yozing
